<div class="flex h-screen">
    <!-- Sidebar -->
    <app-student-sidebar></app-student-sidebar>
    <!-- Main Content -->
    <div class="p-6 bg-white">
        <div>
            <h1 class="text-3xl font-bold text-gray-900">Welcome to the Campus Nexus!</h1>
        </div>
        <div class="p-6">
            <h1 class="text-3xl font-bold">{{ job?.job_title }}</h1>
            <p><strong>Company:</strong> {{ job?.companyName }}</p>
            <p><strong>Location:</strong> {{ job?.job_location }}</p>
            <p><strong>CTC:</strong> {{ job?.ctc }}</p>
            <p><strong>Posted By:</strong> {{ job?.postedByName }}</p>
            <p><strong>Job Description:</strong> {{ job?.job_description }}</p>
            <p><strong>Eligibility:</strong> {{ job?.eligibilityCriteria }}</p>
            <a [href]="job?.company_url" target="_blank" class="text-blue-600 underline">Company Website</a>
        </div>
    </div>
</div>