<div class="w-full h-[100vh] flex justify-center align-middle items-center m-auto">
    <div id="content" role="main" class="w-full max-w-xl mx-auto p-6 mt-5">
        <div class="mt-7 bg-white  rounded-xl shadow-lg  border-2 border-indigo-300 w-80">
            <div class="p-4 sm:p-7">
                <div class="text-center">
                    <h1 class="block text-2xl font-bold text-gray-800 ">Faculty Login</h1>
                </div>

                <div class="mt-5">
                    <form [formGroup]="facultyLogin" (ngSubmit)="onSubmit()">
                        <div class="grid gap-y-4">
                            <div>
                                <label for="email" class="block text-base font-bold ml-1 mb-2 ">Email
                                    address</label>
                                <div class="relative">
                                    <input type="email" id="email" name="email"
                                        class="py-2 px-4 block w-full border-2 border-gray-200 rounded-md text-base focus:border-blue-500 focus:ring-blue-500 shadow-sm"
                                        formControlName="email" required>
                                </div>
                            </div>
                            <div>
                                <label class="block text-base font-bold ml-1 mb-2 ">Password</label>
                                <div class="relative">
                                    <input type="password" name="password"
                                        class="py-2 px-4 block w-full border-2 border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 shadow-sm"
                                        formControlName="password" required>
                                </div>
                            </div>
                            <button type="submit"
                                class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 transition-all text-sm ">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>